<!DOCTYPE html>
<html>
<head>
  <title>Vamos! Great Sta. Cruz Island Community Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>


<link href="stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="javascript/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		<link href="stylesheets/style.css" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<!----webfonts--->
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
		<!---//webfonts--->
		<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="javascripts/move-top.js"></script>
		<script type="text/javascript" src="javascripts/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		 <!---- start-smoth-scrolling---->

     <div id="fb-root"></div>
     <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=641985282487174";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));</script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand">Great Santa Cruz Island</a>
          <ul class="nav navbar-nav">
              <li class="active"><a href="/bienvenidos/index">Home</a></li>
            </ul>
          <a class="navbar-brand" href="#">The Island Story</a>
          <a class="navbar-brand" href="#">Getting Here</a>

          <!---- <a class="navbar-brand" href="/pages/AboutMe">ViewList</a>
          <a class="navbar-brand" href="/events/createevent">Create Event</a>
          ---->

        </div>

  <!----- start-slider
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#" >Sign-up</a></li>
              <li class="active"><a href="#" >Login</a></li>
          </ul>
  </div>
  ---->


      </div>
    </nav>
        <!----- start-slider---->
    			<!----start-slider-script---->
    			<script src="js/responsiveslides.min.js"></script>
    			 <script>
    			    // You can also use "$(window).load(function() {"
    			    $(function () {
    			      // Slideshow 4
    			      $("#slider4").responsiveSlides({
    			        auto: true,
    			        pager: true,
    			        nav: true,
    			        speed: 500,
    			        namespace: "callbacks",
    			        before: function () {
    			          $('.events').append("<li>before event fired.</li>");
    			        },
    			        after: function () {
    			          $('.events').append("<li>after event fired.</li>");
    			        }
    			      });

    			    });
    			  </script>
    			<!----//End-slider-script---->
    			<!-- Slideshow 4 -->
    			    <div  id="top" class="callbacks_container">
                                <ul class="rslides" id="slider4">

                  <li>
    			          <img src="/uploads/images/slide5.jpg" alt="">
    			          <div class="caption text-center">
    			          	<div class="slide-text-info">
    			          		<h1>Amazing <span>Pink Coralline Sand</span></h1>
    			          		<h2>Beautiful and Serene. Famous for its red coralline sand.</h2>
                    		<div class="clearfix"> </div>
    			          		<div class="big-btns">
			          			         <a class="view" href="#"><label> </label>View Gallery</a>

    			          		</div>
    			          	</div>
    			          </div>
    			        </li>

                  <li>
    			          <img src="/uploads/images/slide4.jpg" alt="">
    			          <div class="caption text-center">
    			          	<div class="slide-text-info">
    			          		<h1>Vamos! <span>Great Sta. Cruz Island</span></h1>
    			          		<h2>One of the Seven Pink Beaches in the World.</h2>


    			          		<div class="clearfix"> </div>
    			          		<div class="big-btns">

    			          			<a class="view" href="#"><label> </label>View Gallery</a>

    			          		</div>
    			          	</div>
    			          </div>
    			        </li>
                  <li>
                    <img src="/uploads/images/slide4.jpg" alt="">
                  </li>
                  <li>
                    <img src="/uploads/images/slide4.jpg" alt="">
                  </li>
    			        <li>
    			          <img src="/uploads/images/slide1.jpg" alt="">
    			          <div class="caption text-center">
    			          	<div class="slide-text-info">
    			          		<h1><span>Your solace.</span> </h1>
    			          		<h2>Your piece of heaven. A great place to unwind and relax any given day.</h2>
    			          		<div class="clearfix"> </div>
    			          		<div class="big-btns">
    			          			<a class="hotels" href="#"><label> </label>Find Hotels Nearby</a>
    			          			<a class="view" href="#"><label> </label>View Gallery</a>
    			          		</div>
    			          	</div>
    			          </div>
    			        </li>
    			        <li>
    			          <img src="/uploads/images/slide2.jpg" alt="">
    			           <div class="caption text-center">
    			           <div class="slide-text-info">
    			          		<h1>Early Pink Islanders wearing<span>Life Jackets</span></h1>
    			          		<h2>Wearing life jackets before boating is a must.</h2>
                        <h2>Your safety is a priority. </h2>
    			          		<div class="clearfix"> </div>
    			          		<div class="big-btns">
    			          				<a class="hotels" href="#"><label> </label>Find Hotels Nearby</a>
    			          				<a class="view" href="#"><label> </label>View Gallery</a>
    			          		</div>
    			          	</div>
    			          </div>
    			        </li>

                  <li>
    			          <img src="/uploads/images/slide3.jpg" alt="">
    			          <div class="caption text-center">
    			          	<div class="slide-text-info">
    			          		<h1>Welcome to <span>Great Sta. Cruz Island</span></h1>
    			          		<div class="clearfix"> </div>
    			          		<div class="big-btns">

    			          			<a class="view" href="#"><label> </label>View Gallery</a>
    			          		</div>
    			          	</div>
    			          </div>
    			        </li>


                  <li>
    			          <img src="/uploads/images/slide.jpg" alt="">
    			          <div class="caption text-center">
    			          	<div class="slide-text-info">
    			          		<h1><span>Majestic Aerial View</span></h1>
    			          		<div class="clearfix"> </div>  	</div>
    			          </div>
    			        </li>



                  <li>
                    <img src="/uploads/images/slide6.jpg" alt="">
                    <div class="caption text-center">
                      <div class="slide-text-info">
                        <h1>Welcome to <span>Great Sta. Cruz Island</span></h1>
                        <h2>One of the Seven Pink Beaches in the world.</h2>

                        <div class="clearfix"> </div>

                      </div>
                    </div>
                  </li>

                  <li>
    			          <img src="/uploads/images/slide7.jpg" alt="">
    			          <div class="caption text-center">
    			          	<div class="slide-text-info">
    			          		<h1>Welcome to <span>Great Sta. Cruz Island</span></h1>
    			          		<h2>One of the Seven Pink Beaches in the world.</h2>
    			          	  <div class="clearfix"> </div>

    			          	</div>
    			          </div>
    			        </li>

                  <li>
    			          <img src="/uploads/images/slide8.jpg" alt="">
    			          <div class="caption text-center">
    			          	<div class="slide-text-info">
    			          		<h1><span>The island is here to stay.</span></h1>
    			          		<div class="clearfix"> </div>
                      </div>
    			          </div>
    			        </li>
                </ul>
    			    </div>
    			    <div class="clearfix"> </div>

    			<!----- //End-slider---->


    			<!----- featrues-grids----->
    			<div class="fea-grids">
    				<div class="container">
    				<div class="col-md-6 fea-grids-left">
    					<script>
    							    $(document).ready(function() {
    							      $("#owl-demo1").owlCarousel({
    							        items : 1,
    							        lazyLoad : true,
    							        autoPlay : true,
    							        navigation : false,
    							        navigationText :  false,
    							        pagination : true,
    							      });
    							    });
    							    </script>
    							 <!-- //requried-jsfiles-for owl -->
    							 <!-- start content_slider -->
    						       <div id="owl-demo1" class="owl-carousel">
    					                <div class="item">
    					                	<img src="/uploads/images/stacruzisland1.png" title="name" />
    					                </div>
    					                <div class="item">
    					                	<img src="/uploads/images/stacruzisland2.png" title="name" />
    					                </div>
    					                <div class="item">
    					                	<img src="/uploads/images/stacruzisland3.png" title="name" />
    					                </div>
                              <div class="item">
                                <img src="/uploads/images/stacruzisland4.png" title="name" />
                              </div>
                              <div class="item">
                                <img src="/uploads/images/stacruzisland5.png" title="name" />
                              </div>
    				              </div>
    						<!--//sreen-gallery-cursual---->
    				</div>

    				<div class="col-md-6 fea-grids-left">

    						<div class="fea-grids-left-grids">
    							<div class="fea-grids-left-grid">

    							<div class="fea-grids-left-grid">

    								<div class="fea-grids-left-grid-right">
    									<h4>Easy to go by boat</h4>
    									<p>During daytime boating, you are treated to a handsome sight of beautiful old heritage Fort Pilar, brick orange roofs of restaurant stalls inside the Paseo Del Mar Complex and quite a bit of luscious green, century-old Acacia trees – a view that can easily inspire you ahead of the quick boat-ride. </p>
    								</div>
    								<div class="clearfix"> </div>
    							</div>
    							<div class="fea-grids-left-grid">
    									<div class="fea-grids-left-grid-right">
    									<h4>Tourist Friendly</h4>
    									<p>There's always excitement in the breezy air every morning in this part of town while others go inside the complex bringing with them their fishing tools to join some who are fishing near the sea wall . It is strategic that the local management has decided to situate the berthing point inside the Paseo Del Mar Complex. </p>
    								</div>
    								<div class="clearfix"> </div>
    							</div>
    							<div class="fea-grids-left-grid">
    				    															<div class="clearfix"> </div>
    							</div>
    						</div>
    				</div>
    				<div class="clearfix"> </div>
    			</div>

        </div>

        <section class="section-primary">
          <div class="container">
          <h2 class="page-header">What To Do</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="block block-icon">
                  <div class="icon">
                    <i class="fa fa-home fa-6"></i>
                  </div>
                  <div class="icon-content">
                    <h3>Know Before You Go</h3>
                    <p>There is no hotel in the island. Overnight stay is not yet allowed. Spend a hotel night in Zamboanga City before going on an early morning trip to the island.
                      Do not expect to find any commercial resto in the area. There are small cottages for rent. Tourism officers are always visible and you can coordinate with them for any of your needs. </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="block block-icon">
                  <div class="icon">
                    <i class="fa fa-home fa-6"></i>
                  </div>
                  <div class="icon-content">
                    <h3>Prepare Yourself</h3>
                    <p>Be prepared for seclusion - you can be alone but not lonely.
                      This place will amaze you with its simulation of a rainforest with a lagoon.
                       Spend a day alone or with your loved ones in this pristine island. Hire a banca to go for a quick lagoon escapade, birdwatching and be amazed finding a bat nest.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="block block-icon">
                  <div class="icon">
                    <i class="fa fa-home fa-6"></i>
                  </div>
                  <div class="icon-content">
                    <h3>Whet Your Appetites</h3>
                    <p>Whet your appetites to a sizzling grilled fish or a handful of steamed crabs. There are two or three families living in the island. Pay a local fisherman to fish for you or you can take your time fishing.Just do not forget to bring your fishing tools.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="block block-icon">
                  <div class="icon">
                    <i class="fa fa-home fa-6"></i>
                  </div>
                  <div class="icon-content">
                    <h3>Ball It</h3>
                    <p>You're tempted to slip on loose, fuss-free sundress, sando or go topless.Top off your awesome stay and make it more interesting by playing volleyball with friends.
                    You can also enjoy a bright sky and heavenly view while lounging in your own spot - sunbathing or reading your favorite book. </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="block block-icon">
                  <div class="icon">
                    <i class="fa fa-home fa-6"></i>
                  </div>
                  <div class="icon-content">
                    <h3>Lessen the Stress</h3>
                    <p>The strong sound of waves splashing along with the cool weather will definitely set the mood for therapeutic yoga and meditation sessions. Steer clear of stress and worries and don't just sit back. Jump into a snorkling spree or strike up a conversation with locals and get to learn a few token words in Chavacano.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="block block-icon">
                  <div class="icon">
                    <i class="fa fa-home fa-6"></i>
                  </div>
                  <div class="icon-content">
                    <h3>Make It Last</h3>
                    <p>We like having our own time and send our senses to overdrive. A day in the beach is more than just a way to bond with family and nature. Hop in and toy away with your camera. Make lasting memories and help spread the word around :) </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


    			</div>
    			<!----- featrues-grids----->
    			<!----- testmonials ---->
    			<div class="testmonials">
    				<div class="container">
    					<script>
    							    $(document).ready(function() {
    							      $("#owl-demo2").owlCarousel({
    							        items : 1,
    							        lazyLoad : true,
    							        autoPlay : true,
    							        navigation : false,
    							        navigationText :  false,
    							        pagination : true,
    							      });
    							    });
    							    </script>
    							 <!-- //requried-jsfiles-for owl -->
    							 <!-- start content_slider -->
    						       <div id="owl-demo2" class="owl-carousel">
    					                <div class="item">
    					                	<div class="testmonial-grids">
    					                		<div class="testmonial-head text-center">
    					                			<img src="/uploads/images/quit.png" title="name" />
    					                			<p>"My island experience has been superb and memorable. A story to share to the world."</p>
    					                		</div>
    					                		<div class="testmonial-row">
    					                			<div class="col-md-4 testmonial-grid">
    					                				<div class="t-people-left">
    					                					<img src="/uploads/images/t-pic1.png" title="name" />
    					                				</div>
    					                				<div class="t-people-right">
    					                					<h4>Grace</h4>
    					                					<span>Beach Bum</span>
    					                				</div>
    					                				<div class="clearfix"> </div>
    					                			</div>



    					                		</div>
    					                	</div>
    					                </div>
    					                <div class="item">
    					                	<div class="testmonial-grids">
    					                		<div class="testmonial-head text-center">
    					                			<img src="/uploads/images/quit.png" title="name" />
    					                			<p>"Wonderful time with friends. Perfect place to unwind and make great memories."</p>
    					                		</div>
    					                		<div class="testmonial-row">
    					                			<div class="col-md-4 testmonial-grid">
    					                				<div class="t-people-left">
    					                					<img src="/uploads/images/t-pic5.png" title="name" />
    					                				</div>
    					                				<div class="t-people-right">
    					                					<h4>Lee</h4>
    					                					<span>Beach Bum</span>
    					                				</div>
    					                				<div class="clearfix"> </div>
    					                			</div>
    					                			<div class="col-md-4 testmonial-grid">
    					                				<div class="t-people-left">
    					                					<img src="/uploads/images/t-pic4.png" title="name" />
    					                				</div>
    					                				<div class="t-people-right">
    					                					<h4>Glen</h4>
    					                					<span>Beach Bum</span>
    					                				</div>
    					                				<div class="clearfix"> </div>
    					                			</div>

    					                			<div class="clearfix"> </div>
    					                		</div>
    					                	</div>
    					                </div>


	<!--//sreen-gallery-
                              <div class="item">
    					                	<div class="testmonial-grids">
    					                		<div class="testmonial-head text-center">
    					                			<img src="/uploads/images/quit.png" title="name" />
    					                			<p>"Incredibly awesome place to hang out.
                                      Hop into a boat and forget about time."</p>
    					                		</div>

                              		<div class="testmonial-row">
    					                			<div class="col-md-4 testmonial-grid">
    					                				<div class="t-people-left">
    					                					<img src="/uploads/images/face.png" title="name" />
    					                				</div>
    					                				<div class="t-people-right">
    					                					<h4>DJ</h4>
    					                					<span>Beach Bum</span>
    					                				</div>
    					                				<div class="clearfix"> </div>
    					                			</div>
    					                			<div class="col-md-4 testmonial-grid">
    					                				<div class="t-people-left">
    					                					<img src="/uploads/images/face.png" title="name" />
    					                				</div>
    					                				<div class="t-people-right">
    					                					<h4>Pogz</h4>
    					                					<span>Beach Bum</span>
    					                				</div>
    					                				<div class="clearfix"> </div>
    					                			</div>
    					                			<div class="col-md-4 testmonial-grid">
    					                				<div class="t-people-left">
    					                					<img src="/uploads/images/face.png" title="name" />
    					                				</div>
    					                				<div class="t-people-right">
    					                					<h4>Dhenz</h4>
    					                					<span>Beach Bum </span>
    					                				</div>
    					                				<div class="clearfix"> </div>
    					                			</div>
    					                			<div class="clearfix"> </div>
    					                		</div>
    					                	</div>
    					                </div>
---->

    				              </div>
    						<!--//sreen-gallery-cursual---->
    				</div>
    			</div>
    			<!----- testmonials ---->


          <!----- Map and Location ---->
          	<section class="section-map">
        <div class="notify-grid"><h3>Berthing Point  :  Santa Cruz Island Ferry Terminal <br> located at Paseo del Mar Complex, Zamboanga City</h3>
        </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d990.2306403820862!2d122.08181379999999!3d6.899864799999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32506a022645587f%3A0x8f0c29a94c24b89b!2sSanta+Cruz+Island+Ferry+Terminal!5e0!3m2!1sen!2sph!4v1443267281529" width="1000" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          	</section>
<!----- Map and Location ---->


    			<!----- notify ---->
    			<div class="notify">
    				<div class="container">
    					<div class="notify-grid">

                <div id="fb_friends" class="box left" style="">
                              	<h3>Join your friends</h3>
                  <div class="fb-page" data-href="https://www.facebook.com/ILoveStaCruzIsland" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ILoveStaCruzIsland"><a href="https://www.facebook.com/ILoveStaCruzIsland">I Love Sta. Cruz Island, Zamboanga City</a></blockquote></div></div>




                </div>
    					</div>
    				</div>
    			</div>
    			<!----- notify ---->
    			<!----- social-icons ---->
    			<div class="social-icons">
    				<!---- footer-links ---->
    				<div class="footer-links">
    					<ul>
    					  <li><a > About </a><span> </span></li>
                <li><a href="/footerlinks/termsofuse"> Terms of Use </a><span> </span></li>
                <li><a href="/footerlinks/support"> Support </a><span> </span></li>
                              <li><a href="/footerlinks/disclaimer"> Disclaimer </a><span> </span></li>
    					</ul>
<p><span> BE AN ISLAND AMBASSADOR. </span> <br>We'd really love to hear from you and your island stories <br> so why not
drop us an email (greatstacruzisland@gmail.com) <br> and we'll get back to you as soon as we can.<p>

              <p> For more inquiries on how to get to the island, call
the Zamboanga City Tourism Office at (062) 992-3007.<br> Berthing Point at Zamboanga City, Philippines</p>



    					<script type="text/javascript">
    									$(document).ready(function() {
    										/*
    										var defaults = {
    								  			containerID: 'toTop', // fading element id
    											containerHoverID: 'toTopHover', // fading element hover id
    											scrollSpeed: 1200,
    											easingType: 'linear'
    								 		};
    										*/

    										$().UItoTop({ easingType: 'easeOutQuart' });

    									});
    								</script>
    									<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    				</div>
    				<!---- footer-links ---->
    			</div>
    			<!----- social-icons ---->


    		</div>
    		<!---- container ---->



</body>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>

</html>
